@using mvc_HomeWork1.Models
@using mvc_HomeWork1.Models.Enum
@model mvc_HomeWork1.Models.ViewModel.MoneyViewModel
@{
    ViewBag.Title = "View";
    var indexOfRecord = 0;
}


<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
            </tr>
            @foreach (var record in Model.Records)
            {
                <tr>
                    <td>@(++indexOfRecord)</td>
                    @RecordTypeHtml(record)
                    <td>@record.Date.ToString("yyyy/MM/dd")</td>
                    <td>@record.Money</td>

                </tr>
            }

        </table>
    </div>
</div>

@helper RecordTypeHtml(AccountRecord record)
    {
    if (record.Type == RecordType.Income)
    {
        <td style="color: blue"> @Html.EnumDisplayNameFor(record.Type) </td>
    }
    else
    {
        <td style="color: red"> @Html.EnumDisplayNameFor(record.Type) </td> 
    }
}
